
sent_Renewable_HR.ipynb
sent_Renewable_HR(6+3).ipynb
Files/Solar.ipynb
Files/First Hackday.docx
Files/.ipynb_checkpoints/Solar-checkpoint.ipynb
Figures/RMSE(R).pdf
Figures/RMSE(Demanda+Temp).pdf
Figures/RMSE(Demanda).pdf
Figures/RMSE(all).pdf
.ipynb_checkpoints/sent_Renewable_HR-checkpoint.ipynb
.ipynb_checkpoints/sent_Renewable_HR(6+3)-checkpoint.ipynb
Renewable_HR.ipynb
